<style>
    body {
        background-image: none !important;
    }
</style>
<h2>Home</h2>
<script>
    $.backstretch("destroy", false);
</script>

<!--<div>-->
    <!--<div ng-repeat="song in songs">-->
        <!--<p>song.name</p>-->
        <!--<p>song.rating</p>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-4"
            dir-paginate="song in songs | itemsPerPage: pagination.itemsPerPage"
        total-items="pagination.totalElements" current-page="pagination.current">

        <div class="song">
            <div class="song-images">
                <!--<img src="https://joshualightningwarrior.files.wordpress.com/2015/12/hd-wallpapers-sound-waves-musical-note-desktop-2560x1600-wallpaper.jpg?w=636" alt="missing image" />-->
                <div class="song-image">
                    <!--<img ng-hide="hideMe(song, image)" ng-src="/api/songs/{{song.id}}/image/{{image.id}}" alt="image">-->
                    <img ng-src="/api/songs/{{song.id}}/image/{{song.images[song.currentImagePosition].id}}"  alt="image">
                </div>
            </div>

            <div class="song-text">
                <h3><a ng-click="load(song)" href="#">{{song.name}}</a></h3>
                <p>by <a href="#">{{song.user.firstName}} {{song.user.lastName}} </a> in {{song.category.name}}</p>
            </div>

            <div class="song-tags" style="overflow: hidden;">
                <div class="tag" ng-repeat="tag in song.tags">
                    <img src="/api/tags/{{tag.id}}/image" alt="tag">
                </div>
            </div>
        </div>
    </div>
</div>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>


<!--<table>-->
    <!--<tr dir-paginate="song in songs | itemsPerPage: pagination.itemsPerPage"-->
        <!--total-items="pagination.totalElements" current-page="pagination.current">-->

        <!--<td>{{ user.name }}</td>-->
        <!--<td>{{ user.rating }}</td>-->
    <!--</tr>-->
<!--</table>-->

<!--<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->

