
<script>
    var startUpload = function() {
        var photo = document.getElementById("js-upload-files");
        var file = photo.files[0];
        console.log("LALA" + file.name);
        return false;
    };

</script>


<div class="container">
    <div class="col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>

        <div class="panel-body">

            <!-- Standar Form -->
            <h2>Select songs from your computer</h2>
            <br/>


            <!--<form action="" method="post" enctype="multipart/form-data" id="js-upload-form" onsubmit="return startUpload();">-->
                <!--<div class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<input type="file" name="files[]" id="js-upload-files" multiple>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload song</button>-->
                <!--</div>-->
            <!--</form>-->

            <form ng-controller="UploadController">
                <input type="file" file-input="files" multiple/>
                <button ng-click="upload()">Upload</button>
                <li ng-repeat="file in files">{{file.name}}</li>
            </form>

            <!-- Drop Zone -->
            <h4>Or drag and drop songs below</h4>
            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop songs here
            </div>

            <!-- Progress Bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Processed songs</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                    <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                </div>
            </div>
            </div>

        </div>

    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Select the song's category</strong> <small>Bootstrap search</small></div>
                <div class="panel-body">
                    <form  class=" custom-search-form form-search form-horizontal" ng-controller="MusicGenresController" >
                        <div class="input-append span12">
                            <input type="text" class="search-query" placeholder="Search" ng-model="search">
                            <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                            <br/>
                            <br/>
                            <p ng-repeat="genre in genres | filter: search | limitTo:10" style="float:left;padding-left: 2%;margin-left: 8%">
                                <button type="button" class="btn btn-lg" data-color="primary" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive]" ng-change="toggleActive()" ng-model="todo.done">{{genre.name }}
                                    <input type="checkbox" ng-model="genre1.Selected"/></button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Select visual tags that would represent the song</strong> <br/><small>Bootstrap search</small></div>
            <div class="panel-body">
                <form class="custom-search-form form-search form-horizontal pull-left" ng-controller="MusicGenresController" >
                    <div class="input-append span12">
                        <input type="text" class="search-query" placeholder="Search" ng-model="search">
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                        <br/>
                        <br/>
                        <p ng-repeat="genre in genres | filter: search | limitTo:10" style="float:left;padding-left: 2%;margin-left: 8%">
                            <button type="button" class="btn btn-lg" data-color="primary" ng-class="{true: 'btn-primary', false: 'btn-default'}[isActive]" ng-change="toggleActive()" ng-model="todo.done">{{genre.name }}
                                <input type="checkbox" ng-model="genre1.Selected"/></button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
