<script>
    $.backstretch("/old/img/background.jpg");
</script>
<div class="form-box semi-transparent">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Choose photos that describe your song the best</h3>

            <p>You can set the time when the photo would display during the song</p>
        </div>
        <div class="form-top-right">
            <i class="fa fa-music"></i>
        </div>
    </div>

    <div class="form-bottom">

        <form role="form" class="login-form" ng-controller="SongUploadController">


            <div class="row vertical_offset20">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile1" name="imageFile1"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview1"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes1" ng-model="minutes1"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds1" ng-model="seconds1"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile2" name="imageFile2"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview2"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes2" ng-model="minutes2"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds2" ng-model="seconds2"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile3" name="imageFile3"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview3"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes3" ng-model="minutes3"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds3" ng-model="seconds3"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row vertical_offset20">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile4" name="imageFile4"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview4"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes4" ng-model="minutes4"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds4" ng-model="seconds4"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile5" name="imageFile5"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview5"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes5" ng-model="minutes5"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds5" ng-model="seconds5"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12"><input type="file" file-model="imageFile6" name="imageFile6"/></div>
                    </div>
                    <div class="row vertical_offset10">
                        <div class="col-xs-12 col-md-6">
                            <div class="preview" id="preview6"></div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">Time:</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="minutes" name="minutes6" ng-model="minutes6"
                                                              type="number" placeholder="min"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12"><input class="seconds" name="seconds6" ng-model="seconds6"
                                                              type="number" placeholder="sec"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vertical_offset20">

                <div class="col-xs-12 col-md-3 col-md-offset-6">
                    <button type="submit" ui-sref="home" class="btn col-xs-12 col-md-6"
                            style="background-color:#b3b3b3; !important;">Cancel
                    </button>
                </div>
                <div class="col-xs-12 col-md-3">
                    <button type="submit" ng-click="submit2()" ui-sref="upload.third" class="btn btn-submit"
                            style="background-color:#19b9e7 !important;">Next
                    </button>
                </div>
            </div>


        </form>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        $('#preview1').imagepreview({
            input: '[name="imageFile1"]', preview: '#preview1'
        });
        $('#preview2').imagepreview({
            input: '[name="imageFile2"]', preview: '#preview2',
        });
        $('#preview3').imagepreview({
            input: '[name="imageFile3"]', preview: '#preview3'
        });
        $('#preview4').imagepreview({
            input: '[name="imageFile4"]', preview: '#preview4',
        });
        $('#preview5').imagepreview({
            input: '[name="imageFile5"]', preview: '#preview5'
        });
        $('#preview6').imagepreview({
            input: '[name="imageFile6"]', preview: '#preview6',
        });
    });
</script>


